anyio==4.6.0
asgiref==3.8.1
attrs==24.2.0
blinker==1.8.2
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.3
clickclick==1.2.2
connexion[flask]==3.1.0
contourpy==1.3.0
cycler==0.12.1
exceptiongroup==1.2.2
Flask==3.0.3
Flask-Cors==4.0.2
flask-marshmallow==1.2.1
Flask-SQLAlchemy==3.1.1
fonttools==4.54.1
greenlet==3.1.1
gseapy==1.1.3
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.2
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-path==0.3.3
jsonschema-specifications==2023.12.1
kiwisolver==1.4.7
lazy-object-proxy==1.10.0
MarkupSafe==2.1.5
marshmallow==3.22.0
marshmallow-sqlalchemy==1.0.0
matplotlib==3.9.2
munkres==1.1.4
mysqlclient==2.2.4
numpy==2.1.1
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
packaging==24.1
pandas==2.2.3
pathable==0.4.3
pillow==10.4.0
pip==24.2
pkgutil_resolve_name==1.3.10
pycparser==2.22
pyparsing==3.1.4
PySide6==6.7.2
PySocks==1.7.1
python-dateutil==2.9.0
python-multipart==0.0.10
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rpds-py==0.20.0
scikit-learn==1.5.2
scipy==1.14.1
setuptools==75.1.0
shiboken6==6.7.2
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.35
starlette==0.39.1
swagger_ui_bundle==1.1.0
threadpoolctl==3.5.0
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.30.6
Werkzeug==3.0.4
wheel==0.44.0
zipp==3.20.2
zstandard==0.23.0
